<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{layout_.title}}</title>
    {{layout_.headcontent}}
</head>
<body>
    {{layout_.bodycontent}}
</body>
</html>