{{#>tpl_wd5 _title='Mixer'}} 
{{#*inline "extra_head"}}
  <link rel="stylesheet" href="/static?page=/assets/css/mixer.css" />
  <style>
    .rounded {
      border-radius: 2rem;
    }
  </style>
{{/inline}}
{{#*inline "extra"}}{{/inline}}

{{!-- <article class="border medium no-padding"> --}}
  <div class="absolute middle center">
    <article class="medium middle-align center-align">
      <div>
        <i class="extra">mail</i>
        <h5>You've successfully signed up</h5>
        <p>Click the button to invite your friends</p>
        <div class="space"></div>
        <nav class="center-align">
          <button class="border round">Skip</button>
          <button>Invite your friends</button>
        </nav>
      </div>
    </article>

  </div>
{{!-- </article> --}}

<script>

</script>

{{/tpl_wd5}}
