<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Initialize some shit</title>
  <link rel="stylesheet" href="/assets/css/base.css">
</head>
<body>
  <h3>Welcome, test user!</h3>
  <p>user_mutable == Hello-World!</p>
  <div class="card_container">
      <div class="card">
          <div class="card_image">
              <img src="/static?page&#x3D;default-avatar.svg">
          </div>
          <div class="card_title">
              <h3>Amy Nagtegaal  <span class="age">(18)</span></h3>
          </div>
          <div class="card_desc">
              <ul class="job">
                  <li>Company: DayDRM Studios Ltd.</li>
                  <li>Title: Owner, Lead Dev</li>
              </ul>
          </div>
      </div>
      <div class="card">
          <div class="card_image">
              <img src="/static?page&#x3D;default-avatar.svg">
          </div>
          <div class="card_title">
              <h3>Lily bloemenhuize  <span class="age">(18)</span></h3>
          </div>
          <div class="card_desc">
              <ul class="job">
                  <li>Company: DayDRM Studios Ltd.</li>
                  <li>Title: Co-Owner, Lead Designer, Manager-Creative-Dept.</li>
              </ul>
          </div>
      </div>
  </div>
</body>
</html>